<!---//1- Bindig santay Interpolation//-->
<h1>Welcome to {{hotelName}}</h1>
<!---//2- Bindig santay propety binding//-->
<div [hidden]="hiddeRooms">
    <h3>Number of Rooms</h3>
    <div [innerText]="numberOfRooms"
        [ngStyle]="{'color': rooms.availableRooms ?'steelblue':'red'}">Number of
        Rooms</div>
</div>
{{rooms?.availableRooms ?? 'No rooms !'}}
<!-- {{roomList |json}} -->
<div *ngIf="selectedRoom">
    {{selectedRoom |json }}
</div>
<div *ngIf=" rooms.availableRooms >0 ">
    <hinv-rooms-list [rooms]="roomList"
        (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
    Room List
    <!-- {{roomList}} -->
</div>

<!---//3- Bindig santay Event binding//-->
<button (click)="toggle()">Toggle</button>